In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load (Remember to Change These)

mouse_drug_data_to_load = os.path.join("data", "mouse_drug_data.csv")
clinical_trial_data_to_load = os.path.join("data", "clinicaltrial_data.csv")

# Read the Mouse and Drug Data and the Clinical Trial Data

mouse_drug_data = pd.read_csv(mouse_drug_data_to_load)
clinical_trial_data = pd.read_csv(clinical_trial_data_to_load)                                           

# Combine the data into a single dataset
data = pd.merge(mouse_drug_data, clinical_trial_data, on="Mouse ID")

# Display the data table for preview
data.head()

  Mouse ID      Drug  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     f234  Stelasyn          0           45.000000                 0
1     f234  Stelasyn          5           47.313491                 0
2     f234  Stelasyn         10           47.904324                 0
3     f234  Stelasyn         15           48.735197                 1
4     f234  Stelasyn         20           51.112713                 2

In [2]:
data["Drug"].unique()

array(['Stelasyn', 'Propriva', 'Naftisol', 'Ketapril', 'Capomulin',
       'Infubinol', 'Ceftamin', 'Zoniferol', 'Ramicane', 'Placebo'],
      dtype=object)

In [3]:
tumor_response = pd.DataFrame(data.groupby(["Drug", "Timepoint"]).mean()["Tumor Volume (mm3)"])
tumor_response

                     Tumor Volume (mm3)
Drug      Timepoint
Capomulin 0                   45.000000
          5                   44.266086
          10                  43.084291
          15                  42.064317
          20                  40.716325
...                                 ...
Zoniferol 25                  55.432935
          30                  57.713531
          35                  60.089372
          40                  62.916692
          45                  65.960888

[100 rows x 1 columns]

In [4]:
tumor_response.drop(['Stelasyn', 'Propriva', 'Naftisol', 'Ceftamin', 'Zoniferol', 'Ramicane' ])

                     Tumor Volume (mm3)
Drug      Timepoint
Capomulin 0                   45.000000
          5                   44.266086
          10                  43.084291
          15                  42.064317
          20                  40.716325
          25                  39.939528
          30                  38.769339
          35                  37.816839
          40                  36.958001
          45                  36.236114
Infubinol 0                   45.000000
          5                   47.062001
          10                  49.403909
          15                  51.296397
          20                  53.197691
          25                  55.715252
          30                  58.299397
          35                  60.742461
          40                  63.162824
          45                  65.755562
Ketapril  0                   45.000000
          5                   47.389175
          10                  49.582269
          15                  52.399974
          20                  54.920935
          25                  57.678982
          30                  60.994507
          35                  63.371686
          40                  66.068580
          45                  70.662958
Placebo   0                   45.000000
          5                   47.125589
          10                  49.423329
          15                  51.359742
          20                  54.364417
          25                  57.482574
          30                  59.809063
          35                  62.420615
          40                  65.052675
          45                  68.084082

In [5]:
standard_error = data.sem(axis=1)
standard_error
data = data.assign(Sem=standard_error)
data.head()

,Mouse ID,Drug,Timepoint,Tumor Volume (mm3),Metastatic Sites,Sem
0,f234,Stelasyn,0,45.000000,0,15.000000
1,f234,Stelasyn,5,47.313491,0,15.007402
2,f234,Stelasyn,10,47.904324,0,14.589879
3,f234,Stelasyn,15,48.735197,1,14.167083
4,f234,Stelasyn,20,51.112713,2,14.345072

In [6]:
data.sort_values(by=["Drug", "Timepoint", "Tumor Volume (mm3)"])

,Mouse ID,Drug,Timepoint,Tumor Volume (mm3),Metastatic Sites,Sem
581,b128,Capomulin,0,45.000000,0,15.000000
591,r944,Capomulin,0,45.000000,0,15.000000
601,s185,Capomulin,0,45.000000,0,15.000000
611,w914,Capomulin,0,45.000000,0,15.000000
621,l897,Capomulin,0,45.000000,0,15.000000
...,...,...,...,...,...,...
1437,g296,Zoniferol,45,68.163195,4,18.759367
1424,w575,Zoniferol,45,68.401286,3,19.132503
1339,q511,Zoniferol,45,68.611061,3,19.186647
1410,q633,Zoniferol,45,70.827796,2,20.073947
1462,f545,Zoniferol,45,73.324432,1,21.041093

In [10]:
response_treatment = data[["Drug", "Timepoint", "Tumor Volume (mm3)"]]
response_treatment.sort_values(by=["Drug"])

           Drug  Timepoint  Tumor Volume (mm3)
584   Capomulin         15           43.784893
727   Capomulin          5           45.595685
728   Capomulin         10           43.421014
729   Capomulin         15           37.978778
730   Capomulin         20           38.531136
...         ...        ...                 ...
1422  Zoniferol         35           63.686445
1421  Zoniferol         30           60.153065
1420  Zoniferol         25           58.587322
1392  Zoniferol         25           54.209836
1391  Zoniferol         20           52.204511

[1906 rows x 3 columns]

In [8]:
# Store the Mean Tumor Volume Data Grouped by Drug and Timepoint and convert to a DataFrame
tumor_response_treatment = pd.DataFrame(data.groupby(["Drug", "Timepoint"]).agg(["mean", "sem"])["Tumor Volume (mm3)"])

tumor_response_treatment

                          mean       sem
Drug      Timepoint
Capomulin 0          45.000000  0.000000
          5          44.266086  0.448593
          10         43.084291  0.702684
          15         42.064317  0.838617
          20         40.716325  0.909731
...                        ...       ...
Zoniferol 25         55.432935  0.602513
          30         57.713531  0.800043
          35         60.089372  0.881426
          40         62.916692  0.998515
          45         65.960888  1.003576

[100 rows x 2 columns]